@media only screen and (max-width:780px) {
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        
    }
    body{
        background-color: #F6CF57;
    }
    
    .cabeca-pikachu{
        margin: auto;
        width: 450px;
        margin-top: 50%;
        margin-left: 20%;
        height: 500px;
        background-color: #F6CF57;
        display: flex;
        position: relative;
    }
    
   .box-olho{
        height: 190px;
        width: 100%;display: flex;
        align-items: center;
        justify-content: space-around;
    }
   .olho1-pikachu{
        background-color: black;
        width: 125px;
        height: 125px;
        border-radius: 100px;
        margin-right: 70px;
        
   }
   .olho2-pikachu{
        background-color: black;
        width: 125px;
        height: 125px;
        border-radius: 100px;
        margin-left: 70px;
}
    .iris1-pikachu{
        background-color: white;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        margin: 8px;
        margin-left: 50px;
    }
    .iris2-pikachu{
        background-color: white;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        margin: 13px;
    }
    .brilho1-olho{
        width: 12px;
        height: 12px;
        background-color: #637985 ;
        opacity: 0.8;
        border-radius: 100px;
        margin-top: 45px ;
        margin-left: 70px;

    }
    .brilho2-olho{
        width: 12px;
        height: 12px;
        background-color: #637985 ;
        opacity: 0.8;
        border-radius: 100px;
        margin-top: 40px ;
        margin-left: 42px;    
    }

    .nariz-pikachu{
        height: 22px;
        width: 37px;
        background-color: black;
        border-radius: 10px;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nariz2-pikachu{
        height: 25px;
        width: 30px;
        background-color: #F6CF57;
        position: absolute;
        top: 32.9%;
        left: 43%;
        transform: translate(-50%, -50%);
        transform: rotate(45deg);
    }

    .nariz3-pikachu{
        height: 25px;
        width: 30px;
        background-color: #F6CF57;
        position: absolute;
        top: 32.9%;
        right: 43%;
        transform: translate(-50%, -50%);
        transform: rotate(-45deg);
    }
    .bochecha1{
        height: 180px;
        width: 170px;
        background-color: #ab1c09ea;
        position: absolute;
        border-radius: 100%;
        border: 4px solid black;
        top: 52%;
        left: 5%;
        transform: translate(-50%, -50%)
        rotate(10deg)
    }
    .bochecha2{
        height: 180px;
        width: 170px;
        background-color: #ab1c09ea;
        position: absolute;
        border-radius: 100px;
        border: 4px solid black;
        top: 52%;
        left: 95%;
        transform: translate(-50%, -50%)
        rotate(-10deg)
    }
    .boca1{
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 42%;
        left: 41.8%;
        transform: translate(-50%, -50%)
    }
    .boca1-1{
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        background-color: #F6CF57;
        border-bottom: 6px solid #F6CF57;
        top: 41%;
        left: 41.8%;
        transform: translate(-50%, -50%)
    }
    .boca2{
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 42%;
        left: 56.4%;
        transform: translate(-50%, -50%);
    } .boca2-2{
        height: 64px;
        width: 65px;
        position: absolute;
        background-color: #F6CF57;
        border-radius: 80px;
        border-bottom: 5px solid #F6CF57;
        top: 41%;
        left: 56.4%;
        transform: translate(-50%, -50%);
    }
    .sombra-boca{
        height: 28px;
        width: 50px;
        position: absolute;
        background-color: black;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 45%;
        left: 49.1%;
        transform: translate(-50%, -50%);
    }

    .fundo-boca{
        height: 98px;
        width: 92px;
        position: absolute;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        background-color: black;
        border-bottom: 1px solid black;
        top: 57.2%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .lingua1-cima{
        height: 50px;
        width: 80px;
        position: absolute;
        background-color: lightcoral;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: 53.5%;
        left: 49%;
        transform: translate(-50%, -50%);
    }

    .lingua1-baixo{
        height: 70px;
        width: 78px;
        position: absolute;
        background-color: lightpink;
        border: 1px dashed black;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        top: 58.7%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
  
}

@media only screen and (min-width:781px) {
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    
    }
    body{
        background-color: #F6CF57;
    }
    
    .cabeca-pikachu{    /*Box que centraliza os elementos*/
        width: 450px;
        height: 500px;
        background-color: #F6CF57;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    
    .box-olho{      /*Box que alinha os olhos*/
        height: 190px;
        width: 100%;display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .olho1-pikachu{     /*Esquerdo*/
        background-color: black;
        width: 125px;
        height: 125px;
        border-radius: 100px;
        margin-right: 70px;
        
    }
    .olho2-pikachu{     /*Direito*/
        background-color: black;
        width: 125px;
        height: 125px;
        border-radius: 100px;
        margin-left: 70px;
    }
    .iris1-pikachu{     /*Esquerdo*/
        background-color: white;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        margin: 8px;
        margin-left: 50px;
    }
    .iris2-pikachu{     /*Direito*/
        background-color: white;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        margin: 13px;
    }
    .brilho1-olho{      /*Esquerdo*/
        width: 12px;
        height: 12px;
        background-color: #637985 ;
        opacity: 0.8;
        border-radius: 100px;
        margin-top: 45px ;
        margin-left: 70px;
    
    }
    .brilho2-olho{      /*Direito*/
        width: 12px;
        height: 12px;
        background-color: #637985 ;
        opacity: 0.8;
        border-radius: 100px;
        margin-top: 40px ;
        margin-left: 42px;    
    }
    
    .nariz-pikachu{     
        height: 22px;
        width: 37px;
        background-color: black;
        border-radius: 10px;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nariz2-pikachu{    /*Efeito no nariz*/
        height: 25px;
        width: 30px;
        background-color: #F6CF57;
        position: absolute;
        top: 32.9%;
        left: 43%;
        transform: translate(-50%, -50%);
        transform: rotate(45deg);
    }
    
    .nariz3-pikachu{ /*Efeito no nariz*/
        height: 25px;
        width: 30px;
        background-color: #F6CF57;
        position: absolute;
        top: 32.9%;
        right: 43%;
        transform: translate(-50%, -50%);
        transform: rotate(-45deg);
    }
    .bochecha1{     /*Esquerda*/
        height: 190px;
        width: 190px;
        background-color: #ab1c09ea;
        position: absolute;
        border-radius: 100%;
        border: 4px solid black;
        top: 52%;
        left: 5%;
        transform: translate(-50%, -50%)
        rotate(10deg)
    }
    .bochecha2{     /*Direita*/
        height: 190px;
        width: 190px;
        background-color: #ab1c09ea;
        position: absolute;
        border-radius: 100px;
        border: 4px solid black;
        top: 52%;
        left: 95%;
        transform: translate(-50%, -50%)
        rotate(-10deg)
    }
    .boca1{     /*Lado esquerdo parte superior da boca*/
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 42%;
        left: 41.8%;
        transform: translate(-50%, -50%)
    }
    .boca1-1{
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        background-color: #F6CF57;
        border-bottom: 6px solid #F6CF57;
        top: 41%;
        left: 41.8%;
        transform: translate(-50%, -50%)
    }
    .boca2{     /*Lado direito parte superior da boca*/
        height: 64px;
        width: 65px;
        position: absolute;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 42%;
        left: 56.4%;
        transform: translate(-50%, -50%);
    } .boca2-2{
        height: 64px;
        width: 65px;
        position: absolute;
        background-color: #F6CF57;
        border-radius: 80px;
        border-bottom: 5px solid #F6CF57;
        top: 41%;
        left: 56.4%;
        transform: translate(-50%, -50%);
    }
    .sombra-boca{   /*Efeito fundo parte de cima da boca*/
        height: 28px;
        width: 50px;
        position: absolute;
        background-color: black;
        border-radius: 80px;
        border-bottom: 6px solid black;
        top: 45%;
        left: 49.1%;
        transform: translate(-50%, -50%);
    }
    
    .fundo-boca{  /*EParte de baixo*/
        height: 98px;
        width: 92px;
        position: absolute;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        background-color: black;
        border-bottom: 1px solid black;
        top: 57.2%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .lingua1-cima{  /*Parte da sombra*/
        height: 50px;
        width: 80px;
        position: absolute;
        background-color: lightcoral;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: 53.5%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    
    .lingua1-baixo{     /*Parte mais clara*/
        height: 75px;
        width: 78px;
        position: absolute;
        background-color: lightpink;
        border: 1px dashed black;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        top: 58.7%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    
    .lingua-detalhe{
        height: 50px;
        width: 2px;
        opacity: 0.2;
        position: absolute;
        background-color: black;
        border: 50px;
        top: 58.7%;
        left: 49%;
        transform: translate(-50%, -50%)
    }
    
}